<div>
    <p><i [class]="iconos.Book"></i></p>
</div>
<div>
    <p><i [class]="iconos.Chart"></i></p>
</div>
<div>
    <p><i [class]="iconos.Check"></i></p>
</div>
<div>
    <p><i [class]="iconos.CloseSesion"></i></p>
</div>
<div>
    <p><i [class]="iconos.Config"></i></p>
</div>
<div>
    <p><i [class]="iconos.Consulta"></i></p>
</div>
<div>
    <p><i [class]="iconos.DataBase"></i></p>
</div>
<div>
    <p><i [class]="iconos.DownloadFile"></i></p>
</div>
<div>
    <p><i [class]="iconos.EyeClosed"></i></p>
</div>
<div>
    <p><i [class]="iconos.EyeOpen"></i></p>
</div>
