
<div class="mensaje rounded d-flex flex-column py-3 px-3 animate__animated animate__zoomIn">
    <p class="lead titulo fw-semibold fs-5 text-center text-uppercase  ">{{ titulo }}</p>
    <p class="small fs-6 mt-3 text-center">{{ mensaje }}</p>
    <div class="text-center">
        <i [class]="icono" class="mt-4 fs-6" ></i>
    </div>
    <!-- <div class="footer-modal d-flex justify-content-center gap-4 mt-3">
        <button class="btn btn-lila" (click)="confirmar()"> {{textoBotonConfirmar}} </button>
        <button class="btn btn-red" (click)="cancelar()"> {{textoBotonCancelar}} </button>
    </div> -->
</div>