<div class="contenedor-mensaje " #modal>
    <div class="mensaje px-3 d-flex justify-content-around align-items-center flex-column" #mensaje>
      <div class="cerrar"><button class="close btn-rose" (click)="closeModal()"> <i [class]="iconos.XToClose"></i>
        </button></div>
      <div class="icono"> <i class="fs-2 animate__animated  text-warning " #iconoMensaje
          [class]="iconos.Notification"></i> </div>
      <div class="descripcion  text-uppercase  ">Las filas que tengan errores, o la informacion no este completa no se
        cargara, la informacion incorrecta se mostrara con un color rojo</div>
      <div class="accion">
        <button mat-raised-button class="text-capitalize btn aceptar" (click)="closeModal()"> aceptar </button>
      </div>
    </div>
  </div>