<div class="d-flex justify-content-around gap-2 flex-wrap">
<!-- 
    <div class="checkbox-wrapper-44" *ngFor="let opcion of opciones">
      <div class="checkbox-wrapper-44" >
        <label class="container">
          <input  type="checkbox" [value]="opcion.valor" (change)="emitirValor(opcion.valor)">
          <div class="checkmark"></div>
          {{opcion.nombre}} 
        </label>
        </div>
      </div>

  -->
<div class="checksGroup d-flex flex-wrap">
  
  <div *ngFor="let opcion of opciones" class="w-50 border px-3 py-2 " >
    <label class="container fs-6 d-flex gap-2 ">
    <input  type="checkbox" (change)="emitirValor(opcion.valor)">
    <div class="checkmark"></div>
    {{opcion.nombre}} 
  </label></div>
</div>

</div>


