<div class="table-responsive">
    <table *ngIf="datosBoleta.length > 0" class="table" datatable [dtOptions]="dtOptions" id="resultadosBusqueda">
        <thead>
          <tr>
            <th scope="col" class="text-uppercase text-center">#</th>
            <th scope="col" class="text-uppercase text-center">Nombre Completo</th>
            <th scope="col" class="text-uppercase text-center">CCT</th>
            <th scope="col" class="text-uppercase text-center">Nombre CT</th>
            <th scope="col" class="text-uppercase text-center">Localidad</th>
            <th scope="col" class="text-uppercase text-center">Nivel</th>
            <th scope="col" class="text-uppercase text-center">Ciclo</th>
            <th scope="col" class="text-uppercase text-center">Folio</th>
            <th scope="col" class="text-uppercase text-center">Grupo</th>
            <th scope="col" class="text-uppercase text-center" >verificar</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let element of datosBoleta; let i = index">
            <th class="text-center"  scope="row">{{ i + 1 }}</th>
            <td class="text-center" >{{ element.nombre + ' ' + element.apellido_paterno + ' ' + element.apellido_materno }}</td>
            <td class="text-center" >{{ element.clave_centro_trabajo }}</td>
            <td class="text-center" >{{ element.nombre_cct }}</td>
            <td class="text-center" >{{ element.localidad }}</td>
            <td class="text-center" >{{ element.nivel }}</td>
            <td class="text-center" >{{ element.ciclo }}</td>
            <td class="text-center" >{{ element.folio }}</td>
            <td class="text-center" >{{ element.grupo }}</td>
            <!-- este es el boton de ver las calificaciones -->

            
            <!-- boton para verificar la informacion -->
           

            <td class="text-center"  >
              <button
              (click)="redireccionarAVerificar(element.id_boleta)"
              [ngClass]="element.verificado=='  ' ? 'show-verificar' : 'hideen-verificar'" class="btn-teal" mat-raised-button
              matTooltip="Verificar Captura"
              [matTooltipPosition]="'above'"
              aria-label="Button that displays a tooltip when focused or hovered over">
              <i [class]="iconos.Check"></i>
      </button>
      </td>
          </tr>
        </tbody>
      </table>
      <!-- <p *ngFor="let item of datosBoleta"> {{item.ciclo}} </p> -->
</div>