<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Calificaciones de {{boletaSeleccionada.nombre + ' '+ boletaSeleccionada.apellido_paterno +' '+ boletaSeleccionada.apellido_materno}} </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
<!-- aqui inicia el body -->

<!-- esto se va a mostrar cuando las calificaciones de primaria o secundaria no vengan  vacias -->
          @if(mostrarCalificaciones){
            <div>
              <div class="estado d-flex gap-3 px-2 py-2 mb-3 rounded fs-6 " [ngClass]="{'captura': boletaSeleccionada.estado_boleta == 'En Captura', 'revisado': boletaSeleccionada.estado_boleta == 'Revisado'}">
                <div class="fw-semibold">Estado:</div>
                <div class=""> {{boletaSeleccionada.estado_boleta}} </div>  
                </div>
                
                  <div class="primaria" *ngIf="boletaSeleccionada.nivel =='PRIMARIA'">
                      <div class="calificaciones d-flex ">
                          <div class="materia-header lead text-center w-100 border  fw-bold  py-2">Materia</div>
                          <div class="calificacion-header lead text-center w-100 border fw-bold py-2">Calificación</div>
                        </div>
                        <div class="calificaciones d-flex " *ngFor="let calificacion of boletaSeleccionada.calificacionesPrimaria">
                          <div class=" fs-6  materia-header lead text-center w-100 border  py-2"> {{calificacion.nombre_materia}} </div>
                          <div class=" fs-6 calificacion-header lead text-center w-100 border py-2"> {{calificacion.calificacion}} </div>
                        </div>
                        <div class="calificaciones d-flex ">
                          <div class="fs-6 lead text-center w-100 border  fw-semibold">Promedio Final</div>
                          <div class="fs-6 lead text-center w-100 border fw-bold"> {{boletaSeleccionada.promedioGral}} </div>
                        </div>
                  </div>
      
                  <div class="SECUNDARIA" *ngIf="boletaSeleccionada.nivel== 'SECUNDARIA'">
                      <div class="calificaciones d-flex ">
                          <div class="materia-header lead text-center w-100 border py-2  fw-bold">Grado</div>
                          <div class="calificacion-header lead text-center w-100 border py-2 fw-bold">Calificación</div>
                        </div>
                        <div class="calificaciones d-flex ">
                          <div class="fs-6 lead text-center w-100 border py-2">1er año</div>
                          <div class="fs-6 lead text-center w-100 border py-2">{{boletaSeleccionada.calificacionesSecundaria.Primero}} </div>
                        </div>
                        <div class="calificaciones d-flex ">
                          <div class="fs-6 lead text-center w-100 border py-2 ">2do año</div>
                          <div class="fs-6 lead text-center w-100 border py-2">{{boletaSeleccionada.calificacionesSecundaria.Segundo}} </div>
                        </div>
                        <div class="calificaciones d-flex ">
                          <div class="fs-6 lead text-center w-100 border py-2 ">3er año</div>
                          <div class="fs-6 lead text-center w-100 border py-2">{{boletaSeleccionada.calificacionesSecundaria.Tercero}} </div>
                        </div>
                        <div class="calificaciones d-flex ">
                          <div class=" lead fs-6 text-center w-100 border py-2 fw-semibold">Promedio final</div>
                          <div class="fs-6 lead text-center w-100 border py-2">{{boletaSeleccionada.calificacionesSecundaria.calificacionFinal}} </div>
                        </div>
                  </div>
            </div>
          }
          @else {
            <div class="alert alert-light d-flex gap-2 ">
              <p class="fw-semibold"> PROMEDIO:</p>
              <p> {{boletaSeleccionada.promedioGral}} </p>
            </div>
          }
<!-- aqui finaliza el body -->
        </div>
        <div class=" d-flex align-items-center gap-3 px-3"> 
          <p class=" fs-6 fw-semibold">Capturado por: </p>
          <p a-ngfor >{{boletaSeleccionada.capturado_por}}</p>  
        </div>
        <div class=" d-flex align-items-center gap-3 px-3"> 
          <p class=" fs-6 fw-semibold">Verificada por: </p>
          <p>{{boletaSeleccionada.verificado}}</p>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-red " data-bs-dismiss="modal">Cerrar</button>

        </div>
      </div>
    </div>
  </div>