
<nav class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav navbar-center d-flex justify-content-center w-100">

          <li class="nav-item"  *ngIf="getTipoUsuario() =='1' || getTipoUsuario() =='3' ">
            <a class="nav-link d-flex gap-2 align-items-center" routerLink="consulta" routerLinkActive="activo"  > <i class="fas fa-layer-group"></i> Consultar</a>
          </li> 
          <li class="nav-item"  *ngIf="getTipoUsuario() =='1' || getTipoUsuario() =='2' || getTipoUsuario() =='3' ">
            <a class="nav-link d-flex gap-2 align-items-center" routerLink="cargarInformacion" routerLinkActive="activo"><i class="fas fa-database"></i> Cargar calificaciones</a>
          </li>
          <li class="nav-item"  *ngIf="getTipoUsuario() == '1'">
            <a class="nav-link d-flex gap-2 align-items-center" routerLink="planesEstudio" routerLinkActive="activo"><i class="fas fa-book"></i>Planes de Estudio</a>
          </li>
          <li class="nav-item"  *ngIf="getTipoUsuario() == '1' ">
            <a class="nav-link d-flex gap-2 align-items-center" routerLink="registro" routerLinkActive="activo"><i class="fas fa-user-plus"></i>Nuevo Usuario</a>
          </li>
          <li class="nav-item"  *ngIf="getTipoUsuario() =='1' || getTipoUsuario() =='3' ">
            <a class="nav-link  d-flex gap-2 align-items-center" routerLink="verificacion" routerLinkActive="activo"><i class="fas fa-check-circle"></i>Verificación <small class="text-danger fw-bold"> {{boletas}} </small> </a> 
          </li>
          
          
        </ul>
        
        <li class="nav-item justify-self-end usuario">
          <span></span>
           <button class="nav-link  " >{{getUsuario}} </button>
        </li>

        <li class="nav-item justify-self-end  cerrar-sesion" >
          <button  class="nav-link btn-rose text-white"
          mat-raised-button
          matTooltip="Cerrar Sesion"
          [matTooltipPosition]="'above'"
          aria-label="Button that displays a tooltip when focused or hovered over"  (click)="cerrarSesion()"><i class=" fas fa-sign-out-alt"></i></button>
        </li>
      </div>
    </div>
  </nav>