
<div class="fondo">
    <div class="banner1"></div>
    <div class="banner2"></div>
</div>

<form action="" [formGroup]="newUser">
    <div class="register d-flex flex-column align-items-center">
        <div class="encabezado">
            <img src="./../../../assets/imagenes/escudoNayarit.webp" alt="">
            <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Coat_of_arms_of_Nayarit.svg" alt=""> -->
    
            <h2 class="mb-3 mt-4">Registrar Usuario</h2>
        </div>
        <div class="cuerpo-form d-flex flex-column gap-4 ">
            <div class="par">
                <input  (input)="eliminarEspaciosVacios('nombre',$event,1)"  type="text" placeholder="Nombre" class="form form-control"         formControlName="nombre" id="name" name="name" required>
                 <app-label-input-completo *ngIf="getFieldStatus('nombre') == 1 " [smallIndicador]="true" ></app-label-input-completo>
                  <app-label-input-incompleto *ngIf="getFieldStatus('nombre')== 2 " [smallIndicator]="true"></app-label-input-incompleto>
            </div>


           <div class="d-flex gap-1">
            <div class="par w-100">
                <input  (input)="eliminarEspaciosVacios('apellidoP',$event,1)"   type="text" placeholder="Apellido Paterno" class="form form-control" formControlName="apellidoP" id="name" name="name" required>
                 <app-label-input-completo *ngIf="getFieldStatus('apellidoP') == 1 " [smallIndicador]="true" ></app-label-input-completo>
                  <app-label-input-incompleto *ngIf="getFieldStatus('apellidoP')== 2 " [smallIndicator]="true"></app-label-input-incompleto>
            </div>
            <div class="par w-100">
                <input  (input)="eliminarEspaciosVacios('apellidoM',$event,1)"  type="text" placeholder="Apellido Materno" class="form form-control" formControlName="apellidoM" id="name" name="name" required>
                 <app-label-input-completo *ngIf="getFieldStatus('apellidoM') == 1 " [smallIndicador]="true" ></app-label-input-completo>
                  <app-label-input-incompleto *ngIf="getFieldStatus('apellidoM')== 2 " [smallIndicator]="true"></app-label-input-incompleto>
            </div>
           </div>

            <div class="par">
                <input  (input)="eliminarEspaciosVacios('curp',$event,1)"   type="text" placeholder="Curp" class="form form-control"              formControlName="curp" id="name" name="name" required>
                 <app-label-input-completo *ngIf="getFieldStatus('curp') == 1 " [smallIndicador]="true" ></app-label-input-completo>
                  <app-label-input-incompleto *ngIf="getFieldStatus('curp')== 2 " [smallIndicator]="true"></app-label-input-incompleto>
            </div>
          <div class="d-flex gap-1">
            <div class="par w-100">
                <input  (input)="eliminarEspaciosVacios('usuario',$event,2)"   type="text" placeholder="Usuario" class="form form-control" formControlName="usuario" id="name" name="name" required>
                 <app-label-input-completo *ngIf="getFieldStatus('usuario') == 1 " [smallIndicador]="true" ></app-label-input-completo>
                  <app-label-input-incompleto *ngIf="getFieldStatus('usuario')== 2 " [smallIndicator]="true"></app-label-input-incompleto>
            </div>
            <div class="par w-100">
                <input  (input)="eliminarEspaciosVacios('password',$event,2)" matTooltip="minimo una letra mayuscula, un numero, un caracter especial y longitud minima de 8 caracteres" formControlName="password" type="password" placeholder="Contraseña" class="form form-control"  id="name" name="name" required>
                 <app-label-input-completo *ngIf="getFieldStatus('password') == 1 " [smallIndicador]="true" ></app-label-input-completo>
                  <app-label-input-incompleto *ngIf="getFieldStatus('password')== 2 " [smallIndicator]="true"></app-label-input-incompleto>
            </div>
          </div>
        
          <div class="par w-100">
          <select name="" class="form form-select" id=""   formControlName="t_usuario">
            <option value="" selected>Seleccione el tipo de usuario</option>
            @for (tUsuario of listadoTUsuarios; track tUsuario) {
          <option [value]="tUsuario.id_tipo_usuario">{{tUsuario.tipo_usuario}}</option>
        }
          </select>
               
           
        </div>

            <button class="text-center btn btn-icon btn-stone-dark " (click)="guardarNewUser()"> <i class="fas fa-save"></i>Registrar Usuario </button>
        </div>
    </div>
</form>


<!-- GODE561231HDFABC09 -->