<form [formGroup]="texto">
    <input class="form-control input" 
    formControlName="texto"
           placeholder="{{placeholder}}"  
           #input 
           (blur)="enviarValorIngresado(input.value)" 
           [ngClass]="!campoValido && campoTocado ? 'error' : ''"
            #inputElement
           >
           
    <app-label-input-completo
     [smallIndicador]="smallIndicator" 
    *ngIf="campoValido && campoTocado && mostrarValidacion"
    [texto]="'Campo Completado Correctamente'"
    ></app-label-input-completo>
                              
    <app-label-input-incompleto 
    [smallIndicator]="smallIndicator" 
    *ngIf="!campoValido && campoTocado && mostrarValidacion"
    [texto]="'El Campo no Tiene  Formato Valido'"
    ></app-label-input-incompleto>



  </form>
  