p{
    margin-bottom: 0px !important;
}

.captura{
background: #f59e0b;
color: #000;
}
.revisado{
background: #14b8a6;
color: white;
}
.info-registro{

}
.promedio{
    font-size: 14px !important;
    height: 40px;

}
.c1{
width: 45%;
}

.cont {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.botones button{
font-size: 15px  !important;
}

@media(max-width:1100px){
.info-registro{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-wrap: wrap;
}
.info-registro > div{
    width: 45% !important;
}
}



@media(max-width:990px){
    .card-escuela{
    display: flex; flex-direction: column;
    }
}

@media(max-width:830px){
    .info-registro{
justify-content: center !important;

    }
    .info-registro > div{
        width: 100% !important;
        text-align: center;
    }
    .cont{
        flex-direction: column-reverse;
        padding: 0px !important;
    }
    .c1{
        width: 100%;
    }
    .promedio{
        margin-top: 10px !important;
    }
    .foto{
        margin-top: 20px;
    }
    }