<app-loader *ngIf="loader"></app-loader>
<div class="acciones d-flex justify-content-end gap-3 px-3 py-2 " >

  <button class="btn-gray-dark text-uppercase" *ngIf="!infoAdicional"  mat-raised-button (click)="llenarInfoAcional()"> <i [class]="iconos.DownloadFile"></i> SOLICITUD DE DUPLICADOS Y SERVICIOS </button>

  <button class="btn-rose fs-6"  (click)="descargarSolicitudServicios()" *ngIf="infoAdicional"   matTooltip="Descargar Pdf" mat-raised-button data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop" > <i [class]="iconos.Pdf"></i>  </button>
</div>
<div class="conetenedor-verificar d-flex justify-content-center align-items-center flex-column mt-4">
    
    <!-- aqui van a ir las cards de la informacion del egresado y la informacion del centro de trabajo -->
    <div class="card-escuela col-11 d-flex gap-3 flex-md-nowrap">
        <div class="w-100">
            <app-card-descripcion-icon [verificado]="datosCaptura.verificado !='  ' ? true : false" [icono]="iconos.School" [valores]="dataEscuela"
                [titulo]="'Información del centro de trabajo'"></app-card-descripcion-icon>
        </div>
        <div class="w-100 ">
            <app-card-descripcion-icon [verificado]="datosCaptura.verificado !='  ' ? true : false" [titulo]="'Información del Egresado'" [icono]="iconos.Graduacion" [valores]="dataPersona"></app-card-descripcion-icon>
        </div>
    </div>

    <!-- aqui va a ir la informacion de la boleta  -->

    <div class="informacion-boleta mt-5 col-11">
        <div class="encabezado">
            <h2 class="text-center">Información de Boleta Capturada</h2>
        </div>
        <div class="info-registro d-flex w-100 gap-2">
            <div class="capturada-por d-flex gap-3 align-items-center py-1 rounded px-3 w-100 shadow bg-light">
                <p class="fw-semibold">Capturado por: </p>
                <p>{{datosCaptura.capturado_por}}</p>
            </div>
            <div class="verificada-por d-flex gap-3 align-items-center py-1 rounded px-3 w-100 shadow bg-light">
                <p class="fw-semibold">Verificado por: </p>
                <p>{{datosCaptura.verificado}}</p>
            </div>

            <div class="verificada-por d-flex gap-3 align-items-center py-1 rounded px-3 w-100 shadow bg-light">
                <p class="fw-semibold">Folio Boleta :  </p>
                <p>{{datosCaptura.folio}}</p>
            </div>

            <div  matTooltip="Estado de la Captura"
            [matTooltipPosition]="'above'"
            aria-label="" [ngClass]="{'captura': datosCaptura.estado_boleta == 'En Captura', 'revisado': datosCaptura.estado_boleta == 'Revisado'}" class="verificada-por d-flex gap-3 align-items-center py-1 rounded px-3 w-100 shadow ">
                <p class="fw-semibold"  >Estado de Captura :  </p>
                <p >
                    {{datosCaptura.estado_boleta}}
                  </p>
                  
            </div>
        </div>


        <!-- informacion de las calificaciones en caso de que sea primaria -->
        <div class="primaria mt-4 mb-4" *ngIf="datosCaptura.nivel =='PRIMARIA'">
            <div class="calificaciones d-flex ">
                <div class="materia-header lead text-center w-100 border py-2  fw-bold">Materia</div>
                <div class="calificacion-header lead text-center w-100 border py-2 fw-bold">Calificación</div>
              </div>
              <div class="calificaciones d-flex " *ngFor="let calificacion of datosCaptura.calificacionesPrimaria">
                <div class=" fs-6  materia-header lead text-center w-100 border py-2 "> {{calificacion.nombre_materia}} </div>
                <div class=" fs-6calificacion-header lead text-center w-100 border py-2" *ngIf="calificacion.nombre_materia!= 'LENGUA QUE HABLA'"> {{calificacion.calificacion}} </div>
                <div class=" fs-6calificacion-header lead text-center w-100 border py-2"*ngIf="calificacion.nombre_materia == 'LENGUA QUE HABLA'" > {{calificacion.calificacion == '1' ? 'A' : 'B'}} </div>
              </div>
              <div class="calificaciones d-flex ">
                <div class="fs-6 lead text-center w-100 border py-2  fw-semibold">Promedio Final</div>
                <div class="fs-6 lead text-center w-100 border py-2 fw-bold"> {{ promedioPrimaria }} </div>
              </div>
        </div>

        
        
        
        
        
        <!-- informacion de las calificaciones en caso de que sea secundaria -->
        <div class="SECUNDARIA mt-4 mb-4" *ngIf=" datosCaptura.nivel== 'SECUNDARIA'">
            <div class="calificaciones d-flex ">
                <div class="materia-header lead text-center w-100 border py-2  fw-bold">Grado</div>
                <div class="calificacion-header lead text-center w-100 border py-2 fw-bold">Calificación</div>
              </div>
              <div class="calificaciones d-flex ">
                <div class="fs-6 lead text-center w-100 border py-2 ">1er año</div>
                <div class="fs-6 lead text-center w-100 border py-2">{{datosCaptura.calificacionesSecundaria.Primero}} </div>
              </div>
              <div class="calificaciones d-flex ">
                <div class="fs-6 lead text-center w-100 border py-2 ">2do año</div>
                <div class="fs-6 lead text-center w-100 border py-2">{{datosCaptura.calificacionesSecundaria.Segundo}} </div>
              </div>
              <div class="calificaciones d-flex ">
                <div class="fs-6 lead text-center w-100 border py-2 ">3er año</div>
                <div class="fs-6 lead text-center w-100 border py-2">{{datosCaptura.calificacionesSecundaria.Tercero}} </div>
              </div>
              <div class="calificaciones d-flex ">
                <div class=" lead fs-6 text-center w-100 border py-2 fw-semibold">Promedio final</div>
                <div class="fs-6 lead text-center w-100 border py-2">{{datosCaptura.calificacionesSecundaria.calificacionFinal}} </div>
              </div>
        </div>
        <div class="botones d-flex justify-content-end w-100 gap-4" *ngIf="datosCaptura.estado_boleta != 'Revisado'">
            <button class="btn-teal" (click)="ConfirmarVerificacion()" mat-raised-button> <i [class]="iconos.Check"></i> Confirmar Vericidad</button>
            <button class="btn-yellow-dark" (click)="RedireccionarAEditar()" mat-raised-button> <i [class]="iconos.Update"></i> Editar Informacion</button>
        </div>
        
    </div>
</div>

<app-previsualizador-archivos [pdfUrl]="pdfSeleccionado" ></app-previsualizador-archivos>