@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Merienda:wght@900');



.side-bar{
    width: 400px !important;
}
.btn-close{
    background: none;
    font-size: 20px;
    opacity: 1;
}
.btn-close >i{
  color:#f87171 !important;
}
.offcanvas{
    background: #303646 !important;
}
.offcanvas-title{
    color: white;
    text-align: center;

}
button{
    color: white;
    background: none;
    padding: 5px 10px ;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: none;
    font-family: "Merienda", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
button:hover{
    background: #efefef; 
    color:#000
}
 button:hover > i{
    color: #000 !important;
}
button:hover >i{
    color: white;
}
i{
    color: white;
    font-size: 18px
}
.activo{
    background: #efefef;
    color: #000;
}
.activo i{
    color: #000 !important;
}