@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Merienda:wght@900&family=Oleo+Script:wght@400;700&family=Varela+Round&display=swap');



.side-bar{
    width: 350px !important;
}
.btn-close{
    background: none;
    color:#f87171;
    font-size: 20px;
    opacity: 1;
}
.offcanvas{
    background: #303646 !important;
}
.offcanvas-title{
    color: white;
    text-align: center;

}
button{
    color: white;
    background: none;
    padding: 5px 10px ;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: none;
    font-family: "Merienda", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
i{
    color: #9ca3af;
}