/* Estilo base del modal */
.listadoErrores {
    position: fixed;
    top: 0px;
    right: 20px;
    background: white;
    z-index: 3000 !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: all 0.5s ease-in-out; /* Suaviza las transiciones */
  }
  
  /* Animación de entrada */
  .show {
    opacity: 1;
    transform: translateY(0); /* Posición inicial */
  }
  
  /* Animación de salida */
  .hide {
    opacity: 0;
    transform: translateY(-30px); /* Mueve hacia arriba */
    pointer-events: none; /* Evita que se interactúe mientras está oculto */
  }
  
  /* Estilos para los elementos de la lista */
  .list-item {
    list-style-type: none;
  }
  
  .icono-error {
    width: 25px;
    height: 25px;
    background: #e3517e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    box-shadow: 1px 1px 2px #e3517e;
  }
  .contenedor-lista{
    overflow-y: scroll;
    max-height: 80vh
  }
  