 @if(tituloToast != null || this.tituloToast != "") {
        <div class="toast d-flex  gap-2 align-items-center px-2 justify-content-between ocultar " [ngClass]="Valido ? 'borde-correcto': 'borde-incorrecto'" #mensaje >
          <div class="icon"> <i [ngClass]=" Valido ? 'correcto': 'incorrecto'" [class]="iconoSeleccionado"></i> </div>
          <div class="mensaje1 d-flex flex-column" >
              <b [ngClass]=" Valido ? 'correcto': 'incorrecto'"> {{tituloToast}} </b>
              <p> {{mensajeToast}} </p>
            </div>
            <div class="cerrar">
                <button class="btn border" (click)="closeModal()"> <i [class]="iconos.XToClose"></i> </button>
            </div>
        </div>
      }
    
