<div class="modal fade " id="changePassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animate__animated animate__zoomIn">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Cambiar mi Contraseña de inicio de sesion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="newPassword" class="d-flex flex-column gap-3">
                    <div class="input-container">
                        <input type="password" class=" form form-control"
                            placeholder="Ingrese su Contraseña Actual" name="" formControlName="currentPassword" id="" >
                    </div>

                    <div class="input-container">
                        <input type="password" #password class=" form form-control"
                            placeholder="Ingrese su nueva contraseña" name="" formControlName="password" id="" (input)="validarPasswords()">
                    </div>

                    <div class="input-container">
                        <input type="password" #confirmPassword class=" form form-control"
                            placeholder="Confirme su contraseña" name="" formControlName="confirmPassword" id="" (input)="validarPasswords()">
                            <small *ngIf="!passwordValidas && newPassword.controls['confirmPassword'].touched" class="text-danger ">Las Constraseña deben de ser identicas</small>
                    </div>


                    <div class="nota" >
                        <button  mat-raised-button (click)="toggleSelect()"> Nota 
                            <i *ngIf="!verMensaje" [class]="iconos.RowDown" ></i>
                            <i *ngIf="verMensaje" [class]="iconos.RowUp"></i>
                        </button>

                        <div *ngIf="verMensaje" class="mostrar-nota bg-light shadow px-2 py-3"  [ngClass]="animationClass">
                            <p class="mensaje text-uppercase">
                                la contraseña debe de contener al menos 1 caracter especial, un numero y una letra mayuscula
                            </p>
                        </div>


                    </div>



                    <div class=" d-flex  justify-content-between align-items-center ">
                        <button class="btn" 
                            mat-raised-button matTooltip="Mostrar Contraseñas"
                            [matTooltipPosition]="'above'"
                            aria-label="Button that displays a tooltip when focused or hovered over"
                            (click)="showPassword()">
                            <i *ngIf="!verPassword" [class]="iconos.EyeClosed"></i>
                            <i *ngIf="verPassword" [class]="iconos.EyeOpen"></i>
                        </button>

                        <div class=" d-flex  gap-3">
                            <button class="btn d-flex align-items-center gap-2 cancelar " matTooltip="Cancelar"
                                [matTooltipPosition]="'above'"
                                aria-label="Button that displays a tooltip when focused or hovered over" data-bs-dismiss="modal" (click)="limpiarFormulario()">
                                <i [class]="iconos.XToClose" ></i>
                                Cancelar
                            </button>

                            <button class="btn d-flex align-items-center gap-2 btn-teal" mat-raised-button matTooltip="
                Guardar Cambios" [matTooltipPosition]="'above'"
                                aria-label="Button that displays a tooltip when focused or hovered over" (click)="cambiarPassword()">
                                <i [class]="iconos.Save"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
        </div>
    </div>
</div>