.fade{
    /* background:rgba(255, 255, 255, 0.8); */
    background: none !important;
}
::placeholder{
    color: #999;
}
.cancelar{
    border-bottom: 1px solid #aaa;
}
.input-container{
    position: relative;
}
.validacion{
position: absolute;
top: 0;
right: 0;
color: white;
width: 40px;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
font-size: 15px;
border-radius: 5px;
}
.valido{
    background: red;
}
.invalido{
    background: green
}
.nota{
    position: relative;
}
.custom-tooltip{
    z-index: 11100;
}