
*{
  border: none;
 }
.image-wrapper {
  width: 100%;
  height: 80vh;
  overflow: auto; /* Habilita el scroll cuando la imagen crece */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.img-zoom {
  max-width: none;
  max-height: none;
  cursor: grab;
}

.modal-header{
  display: flex;
  justify-content: center; 
  width: 100%; 
}
.cerrar{
background: red;
}
