<div class="contenedor-planes">
    <div class="card-plan-estudio border rounded-3 py-2" *ngFor="let plan of listadoPlanes">
        <p class="lead"> {{plan.nombre}} </p>
        <small > {{plan.numero_materias }} Materias asignadas a este plan de estudio</small>
        <p class="mt-2">Periodo de Aplicación: {{plan.periodo_aplicacion}} </p>
        <div class="boton d-flex justify-content-center mb-3" *ngIf="plan.numero_materias == 0">
            <button class="btn btn-icon btn-lila" routerLink="/planesEstudio/asignarMaterias"><i class="fas fa-plus-circle"></i> Asignar Materias</button></div>
    </div>


</div>