<form autocomplete="off" [formGroup]="text">
    <input formControlName="text" [type]="type" [min]="valorMinimo" [max]="valorMaximo" class="form-control" placeholder="{{placeholder}}"  #input (change)="enviarValorIngresado(input.value)" [value]="text.get('text')?.value" (input)="convertirMayusculas(input.value)" (blur)="marcarTocado(input.value)" [ngClass]="{'error': !campoValido && mostrarValidacion}" [value]="Valor" [disabled]="disabled">
<app-label-input-completo   [smallIndicador]="smallIndicator" *ngIf="campoValido && campoTocado && mostrarValidacion"></app-label-input-completo>
<app-label-input-incompleto  [smallIndicator]="smallIndicator" *ngIf="!campoValido && campoTocado && mostrarValidacion"></app-label-input-incompleto>
</form >